{% extends "base.html" %}

{% block title %}Reports{% endblock %}

{% block content %}
    <h1>Reports</h1>
    <div class="list-group">
        <a href="{{ url_for('sales_report') }}" class="list-group-item list-group-item-action">Sales Report</a>
        <a href="{{ url_for('purchases_report') }}" class="list-group-item list-group-item-action">Purchases Report</a>
        <a href="{{ url_for('stock_report') }}" class="list-group-item list-group-item-action">Stock Report</a>
        <a href="{{ url_for('returns_report') }}" class="list-group-item list-group-item-action">Returns Report</a>
    </div>
{% endblock %}
